.blob1 {
	background-image: url('/blob/blob1.svg');
	background-size: cover;
	transform: scale(1.8);
	top: 1rem;
	opacity: 0.25;
}
.blob2 {
	background-image: url('/blob/blob2.svg');
	background-size: cover;
	transform: scale(1.4);
	bottom: -1rem;
	opacity: 0.25;
}
